    <div class="jumbotron text-center" id="top_jumbotron">
        <h1 class="title">Hi, User!</h1>
    </div>


    <div class="text-center">
      <div class="btn-group">
        <a href="https://fmrs.bucknell.edu/browse_inventory" type="button" class="btn btn-primary">Browse Equipment</a>
        <a href="https://fmrs.bucknell.edu/suiteInfoPage" type="button" class="btn btn-primary">Browse Studio</a>
      </div>
    </div><br>

    <div id="manage_inventory_table" class="container">
      <div class="row">
	     <div>
                <div style="height:400px;border: 2px solid black">
                   	<table class="table table fixed">
			<thead>
				<tr> 
				     <td class = "col-xs-1"> 
				     	 <p> ID# </p>
				     </td>
				     <td class = "col-xs-1"> 
				     	 <p> Name </p>
				     </td>
				     <td class = "col-xs-1"> 
				     	 <p> Approval Status </p>
				     </td>
				     <td class = "col-xs-1"> 
				     	 <p> Start Date </p>
				     </td>
				     <td class = "col-xs-1"> 
				     	 <p> End Date </p>
				     </td>
				</tr>	
			</thead>
			
                        <tbody style = "overflow:scrollable;width:100%">
                                {{#each request_items}}
                                        <tr>
						<td class="col-xs-1">
						    <p>{{id_num}} </p>
						</td>
						<td class="col-xs-1">
						    <p> {{name}} </p>
						</td>
						<td class="col-xs-1">
						    {{#if checked_out_approval}}
						    	  <p>Approved</p>
						  
						    {{else}}
							<p> Pending </p>
						    {{/if}}
						</td>
						<td class="col-xs-1">
						    {{reservation_start}}
						</td>
						<td class = "col-xs-1"> 
				     	 	    {{reservation_end}}
				     	     	</td> 
                                        </tr>
                                {{/each}}
		        </tbody>
                </table>
                </div>
            </div>
    </div>
</div>
    
